<div lang="en" class="flex mt-10 bg-black flex-wrap">
    <!--Itemek divenként-->
    <div class="w-[25%] border-1 border-solid">
        <img class="w-full" src="/inv_icons/ak.png">
        <div (click) = "clicktry()" >1000</div>
    </div>
    <div class="w-[25%] border-1 border-solid">
        <img class="w-full" src="/inv_icons/bandage.png">
    </div>
    <div class="w-[25%] border-1 border-solid">
        <img class="w-full" src="/inv_icons/baseballbat.png">
    </div>
    <div class="w-[25%] border-1 border-solid">
        <img class="w-full" src="/inv_icons/baseballbatwithnails.png">
    </div>
    <div class="w-[25%] border-1 border-solid">
        <img class="w-full" src="/inv_icons/kitchenknife.png">
    </div>
    <div class="w-[25%] border-1 border-solid">
        <img class="w-full" src="/inv_icons/markow.png">
    </div>
    <div class="w-[25%] border-1 border-solid">
        <img class="w-full" src="/inv_icons/pan.png">
    </div>
    <div class="w-[25%] border-1 border-solid">
        <img class="w-full" src="/inv_icons/vegetables.png">
    </div>
    <div class="w-[25%] border-1 border-solid">
        <img class="w-full" src="/inv_icons/vintorez.png">
    </div>
</div>