
/*
h1{
    text-align: center;
    font-size: 50px;
}


video{
    display: block;
    margin: 0 auto;

    /*
    width: 100%;
    height: auto;
    */
    
/*}*/




#background-video {
  position: fixed;
  top: 52px; 
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  object-fit: cover; 
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  margin-top: 50px; 
  color: white;
  text-align: center;
  padding: 20px;
}


