/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: helveticaNeue; /* Name of the font */
  src: url(../public/HelveticaNeueThin.otf); /* Url for the font */
}


*{
    margin: 0;
    padding: 0;
    background-color: #1D1F21; /*Dark theme*/
    color: whitesmoke;
    font-family: helveticaNeue;
    font-size: 25px;
}